.mobile-nav {
  height: 100vh;
}

.mobile-nav__items {
  height: inherit;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  align-items: center;
}

.mobile-nav__item {
  margin: 0.5rem;
  color: #0e4f1f;
  cursor: pointer;
  text-weight: bold;
  font-size: 1rem;
}

.mobile-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 3px 0;
}

.mobile-nav__item--cta a {
  color: white;
  background: #ff1b68;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}
